{% extends 'base.html' %}
{%block title%} Rede {% endblock%}
{% block content %}
    <h1>Status de Rede <code>FALTA AINDA - DADOS ZABBIX </code></h1>
    
    <ul class="list-group mt-3">
        <li class="list-group-item status-container">
            <div class="status-indicator status-online"></div>
            <span class="status-name">Dispositivo 1 - Online</span>
        </li>
        <li class="list-group-item status-container">
            <div class="status-indicator status-offline"></div>
            <span class="status-name">Dispositivo 2 - Offline</span>
        </li>
        <li class="list-group-item status-container">
            <div class="status-indicator status-online"></div>
            <span class="status-name">Dispositivo 3 - Online</span>
        </li>
        <li class="list-group-item status-container">
            <div class="status-indicator status-offline"></div>
            <span class="status-name">Dispositivo 4 - Offline</span>
        </li>
        <li class="list-group-item status-container">
            <div class="status-indicator status-online"></div>
            <span class="status-name">Dispositivo 5 - Online</span>
        </li>
    </ul>

{% endblock %}
